*.*~

## Clojure
.nrepl-port
.cpcache/

## Leiningen
target/
.lein-failures
.lein-repl-history
# only for Leiningen projects, remove for Maven projects
**/pom.xml

## Eclipse
.classpath
.project
.settings/
bin/
hs_err_pid*.log
